
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div class="form-group">
        <label class="label-input" for="source">Chứng thư số: </label>
        <input class="btn btn-primary btn-lg" style=" width: 208px;" type="button" value="Chọn chứng thư số" id="btnCefInfo" />
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
   
    var WebsocketCir = function () {
        this.init = function () {
            registerEvents();
        }

        var registerEvents = function () {
            $('body').on('click', '#btnCefInfo', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/Home/GetCer',
                    dataType: 'json',
                    success: function (res) {
                        //
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        }
    }
    var WsC = new WebsocketCir();
    WsC.init();
</script>